.stardust-tabs-header-wrapper {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  width: 100%;
  background: #f6f6f6;
}
.stardust-tabs-header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.stardust-tabs-header__tab {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-RkJj {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 1.1875rem 0.625rem;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  box-sizing: border-box;
}
.stardust-tabs-header__tab--active {
  color: #ee4d2d;
}
.lI0x4W {
  width: 100%;
}
.stardust-popover {
  position: relative;
}
.p-RkJj {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 1.1875rem 0.625rem;
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  box-sizing: border-box;
}
