.NLeTwo,
.ny5rpD {
  display: flex;
  padding: 1.5625rem;
}
.NLeTwo {
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}
.page-product__detail,
.page-product__hot-sales,
.page-product__info,
.page-product__ratings,
.page-product__recycle,
.page-product__shop,
.page-product__shop-voucher {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 0.125rem;
  overflow: hidden;
  background: rgb(255, 255, 255);
  margin-top: 0.9375rem;
  padding: 0.625rem;
}
.jwlMoy {
  padding-right: 1.5625rem;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  max-width: 27.5rem;
}
.lxiztb,
.Po6c6I {
  flex-grow: 1;
}
.Po6c6I {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.25rem 3.125rem;
  padding-left: 1.5625rem;
  color: rgba(0, 0, 0, 0.4);
}
.W0LQye {
  flex-shrink: 0;
  margin-right: 1.25rem;
  position: relative;
  overflow: visible;
  outline: 0px;
}
.W0LQye .UadQpu {
  width: 5rem;
  height: 5rem;
}
.shopee-avatar {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  border-radius: 50%;
  border: 0.0625rem solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
}
.shopee-avatar__placeholder {
  width: 100%;
  position: relative;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.shopee-avatar__img {
  border-radius: 50%;
}
.shopee-avatar__img,
.shopee-avatar__img-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
}
.oAVg4E {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.VlDReK {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._3ZgmkI {
  margin: 0px !important;
}

.zSXxlI {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.54);
  text-transform: capitalize;
}

.Uwka-w {
  margin-top: 8px;
  display: flex;
}

.Uwka-w .Q-sdJs {
  margin-right: 0.625rem;
}

.Uwka-w .Q-sdJs,
.Uwka-w .Vf\+pt4 {
  flex-direction: row;
  text-transform: capitalize;
}

.Uwka-w .Q-sdJs span,
.Uwka-w .Vf\+pt4 span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Uwka-w ._9Sz-n3,
.Uwka-w .JWAQyX {
  margin-right: 5px;
  flex-shrink: 0;
}

.Po6c6I {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.25rem 3.125rem;
  padding-left: 1.5625rem;
  color: rgba(0, 0, 0, 0.4);
}

.lxiztb,
.Po6c6I {
  flex-grow: 1;
}

.R7Q8ES {
  cursor: default;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: visible;
  outline: 0px;
}
.Uwka-w .Q-sdJs,
.Uwka-w .Vf\+pt4 {
  flex-direction: row;
  text-transform: capitalize;
}
.Uwka-w .Q-sdJs {
  margin-right: 0.625rem;
}
.btn-tinted,
.btn.btn-tinted {
  position: relative;
  overflow: visible;
  outline: 0px;
  background: var(--brand-primary-light-color);
  color: #ee4d2d;
  border: 1px solid #ee4d2d;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px 0px;
}
.btn--s {
  height: 34px;
  padding: 0 15px;
  min-width: 60px;
  max-width: 190px;
}
.btn--inline {
  display: inline-flex;
}
.btn {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  flex-direction: column;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  outline: 0;
}
.btn,
.mYPSI5 {
  cursor: pointer;
}
.btn--s {
  height: 34px;
  padding: 0px 15px;
  min-width: 60px;
  max-width: 190px;
}
.Uwka-w ._9Sz-n3,
.Uwka-w .JWAQyX {
  margin-right: 5px;
  flex-shrink: 0;
}
svg:not(:root) {
  overflow: hidden;
}
.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}
user agent stylesheet svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
.Uwka-w .Q-sdJs,
.Uwka-w .Vf\+pt4 {
  flex-direction: row;
  text-transform: capitalize;
}
.btn-tinted,
.btn.btn-tinted {
  position: relative;
  overflow: visible;
  outline: 0px;
  background: var(--brand-primary-light-color);
  color: #ee4d2d;
  border: 1px solid #ee4d2d;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px 0px;
}
.btn {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  flex-direction: column;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  outline: 0;
}
.Uwka-w .Q-sdJs span,
.Uwka-w .Vf\+pt4 span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Uwka-w .Q-sdJs,
.Uwka-w .Vf\+pt4 {
  flex-direction: row;
  text-transform: capitalize;
}
.btn-tinted,
.btn.btn-tinted {
  position: relative;
  overflow: visible;
  outline: 0px;
  background: var(--brand-primary-light-color);
  color: #ee4d2d;
  border: 1px solid #ee4d2d;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 1px 0px;
}
.Uwka-w .Q-sdJs,
.Uwka-w .Vf\+pt4 {
  flex-direction: row;
  text-transform: capitalize;
}
.btn-light--link {
  border: 1px solid #ccc;
  color: #555;
}
.btn-light {
  outline: 0;
  background: #fff;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  position: relative;
  overflow: visible;
}
.btn--s {
  height: 34px;
  padding: 0 15px;
  min-width: 60px;
  max-width: 190px;
}
.btn--inline {
  display: inline-flex;
}
.Xkm22X {
  color: #ee4d2d;
  white-space: nowrap;
  text-align: right;
}
.NLeTwo,
.ny5rpD {
  display: flex;
  padding: 1.5625rem;
}
