.star-checked {
  color: #ffe400;
  font-weight: 900;
}

.star-uncheck {
  color: #ffe400;
  font-weight: unset;
}
.App {
  margin-top: 120px;
}
.slick-prev,
.slick-next {
  z-index: 1;
}
.app {
  overflow: hidden;
}
.grid__full--width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.grid_colum-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6666667%;
}
.grid_colum-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid_colum-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333333%;
}

#topProduct .slick-slider {
  display: flex;
  gap: 10px;
}
#topProduct .slick-slide {
  padding-left: 5px;
  padding-right: 5px;
}

#topProduct .slick-next {
  z-index: 9;
  right: -15px !important;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
#topProduct .slick-prev {
  z-index: 9;
  left: -15px !important;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}
#topProduct .slick-prev:before {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topProduct .slick-next:before {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#carousel .slick-next {
  right: 10px !important;
}
#carousel .slick-prev {
  left: 10px !important;
}
#carousel .slick-prev {
  position: absolute;
  top: 50%;
  right: -30px;
  display: block;
  width: 20px;
  z-index: 10;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

#carousel .slick-dots {
  bottom: 10px !important;
}
#carousel .underlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
#flashSale .slick-track {
  display: flex;
  gap: 10px;
}
#shopmall .slick-dots {
  bottom: 10px !important;
}
